APP_PORT=80
APP_EXTERNAL_PORT=80
PMA_PORT=8100
SWAGGER_UI_PORT=8300

APP_DOMAIN=
ENV=local

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=kok
DB_USERNAME=user
DB_PASSWORD=pass

JWT_SECRET=
ACCESS_TOKEN_EXPIRATION=3600
REFRESH_TOKEN_EXPIRATION=86400

GLOBAL_SETTINGS_PASSWORD=

AWS_REGION=
AWS_API_KEY=
AWS_BUCKET=
